@import "../../styles/variables.scss";

.userlist {
  .iconContainer {
    display: flex;
    gap: 8px;
    align-items: center;

    .icon {
      cursor: pointer;
      &.iconDelete {
        &:hover {
          color: $red;
        }
      }
      &.iconEdit {
        &:hover {
          color: $darkBlue;
        }
      }
    }
  }
}
