$darkBlue: #428bca;
$lightBlue: #78b5eb;
$red: #ff4757;
$darkRed: #b7343f;
$orange: #ffa502;
$green: #2ed573;
$darkGreen: #1aab56;
$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.1);
$darkBoxShadow: 0 2px 2px rgba(0, 0, 0, 0.2);
$gray: #bdc3c7;
$lightGray: #f1f2f6;
$midLightGray: #f7f7f9;
$lightBlack: #2c3e50;
